ul, li {
  list-style: none;
  padding: 0;
}

.content {
  padding: 20px;
}

.container {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.modal-open .navbar-fixed-top {
  margin-right: 0;
}