.header {
  height: 55px;
  background: #eee;
  padding: 10px;

  .logo {
    float: left;
    font-size: 22px;
  }

  .login {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    a {
      color: #999;
    }
  }

  .new {
    float: right;
    background: white;
    margin-top: 13px;
  }

  .header-nav {
    float: left;
    margin-top: 5px;
  }
}



